<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/metronic/assets/global/plugins/font-awesome/css/font-awesome.css" rel="stylesheet"/>
    <link href="/metronic/assets/global/plugins/bootstrap/css/bootstrap.css" rel="stylesheet"/>
    <link href="/metronic/assets/global/css/components.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/jquery.Jcrop.css" type="text/css" />
    <style type="text/css">
        *{margin: 0;padding: 0;}
      .cut{
            margin-top: 10px;
        }
       .cut .cutImage{
            width: 300px;
            height: 300px;
            border: 1px solid red;
            float: left

       }
        #preview-pane {
            display: block;
            float:left;
            margin-left: 50px; 
            border: 1px solid red;
            background-color: white;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            border-radius: 6px;
            -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
        }
        #preview-pane .preview-container {
            width: 120px;
            height: 120px;
            overflow: hidden;
        }
        .cut .btn{
             margin-left: 50px; 
             margin-top: 20px; 
              background: #217ebd;
             color: #FFFFFF
            
        }
        .upfile{
        
            float: left;
            margin-left: 50px; 
            margin-top: 20px; 
        }
        .upfile input{
            display: block;
            max-width: 180px
        }
        .errorMessage {
            color: #ff0000;
        }
    </style>
</head>
<body>
<div class="page-content" style="min-height:650px">
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal" id="myForm" method="" action="">
                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-pencil-square-o"></i>添加用户
                        </div>
                        <div class="tools">
                            <a class="collapse" href="javascript:;" data-original-title="" title=""> </a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="form-body">
                            <!--用户名-->
                            <div class="form-group">
                                <label class="control-label col-sm-2">用户名</label>
                                <div class="col-sm-8">
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input name="yhm" id='yhm' type="text" maxlength="50" class="form-control">
                                    </div>
                                </div>
                                <span class="errorMessage"></span>
                            </div>
                            <!--用户类型-->
                            <div class="form-group">
                                <label class="control-label col-sm-2">用户类型</label>
                                <div class="col-sm-8">
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <select class="form-control yhlxid" name="yhlxid">
                                        </select>
                                    </div>
                                </div>
                                <span class="errorMessage"></span>
                            </div>
                            <!--姓名-->
                            <div class="form-group">
                                <span id="ctl00_MainContent_labName" class="control-label col-sm-2">姓名</span>
                                <div class="col-sm-8">
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input name="xm" type="text" maxlength="50" class="form-control">
                                    </div>
                                </div>
                                <span class="errorMessage"></span>
                            </div>
                            <!--密码-->
                            <div class="form-group">
                                <label class="control-label col-sm-2">
                                    密码
                                </label>
                                <div class="col-sm-8">
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input id="password" name="mm" maxlength="50" class="form-control" type="password">
                                    </div>
                                </div>
                                <span class="errorMessage"></span>
                            </div>
                            <!--确认密码-->
                            <div class="form-group">
                                <label class="control-label col-sm-2">
                                    确认密码
                                </label>
                                <div class="col-sm-8">
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input type="password" name="qrmm" maxlength="50" class="form-control">
                                    </div>
                                </div>
                                <span class="errorMessage"></span>
                            </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2">
                                        点击头像修改
                                    </label>
                                    <div class="col-sm-8">
                                        <i class="fa"></i>
                                        <div class="phtotBox" style="width: 120px;height:120px;overflow: hidden;">
                                             <img id="tx" src="/images/defaultPhoto.jpg" alt="">
                                        </div>
                                        <div>
                                            清先添加用户名，再上传头像
                                        </div>
                                    </div>
                                </div>

                                <input type="hidden" name="path" id="path" value="/images/defaultPhoto.jpg">
                                <input type="hidden" name="is" id="is">
                                <input type="hidden" name="x" id="x">
                                <input type="hidden" name="y" id="y">
                                <input type="hidden" name="w" id="w">
                                <input type="hidden" name="h" id="h">
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-sm-offset-2 col-sm-9">
                                    <input type="submit" value="添加" class="btn blue">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

      <div id="ImageCut" class="modal fade in " style="display: none; padding-right: 17px;">
        <div class="modal-dialog" style="width: 600px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="imageClose close"></button>
                    <h4 class="modal-title">头像裁剪</h4>
                </div>
                <div class="modal-body">
                    <div class="page-content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="cut  col-md-12">
                                    <div class="cutImage">
                                        <img id="cutImage" alt="" src="" style="width: 300px;height: 300px">
                                    </div>
                                    <div id="preview-pane">
                                        <div class="preview-container">
                                            <img src="" id="pImage" class="jcrop-preview " alt="Preview" />
                                        </div>
                                    </div>
                                     <div class="upfile">
                                         <form id='cutImageForm'>
                                             <input type="file" name="myPhoto" id='myPhoto'>
                                         </form>
                                     </div>
                                    <div class="col-md-2 btn blue" id="CJ">
                                        裁剪
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--[if lt IE 9]>
<script src="/js/es5-shim.js"></script>
<script src="/js/es5-sham.js"></script>
<script src="/metronic/assets/global/plugins/respond.js"></script>
<script src="/metronic/assets/global/plugins/excanvas.js"></script>
<![endif]-->
<script type="text/javascript" src="/metronic/assets/global/plugins/jquery.js"></script>
<script type="text/javascript" src="/metronic/assets/global/plugins/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="/metronic/assets/global/scripts/app.js"></script>
<script type="text/javascript" src="/js/jquery.validate.js"></script>
<script type="text/javascript" src="/js/jquery.form.js"></script>
<script type="text/javascript" src="/js/jquery.Jcrop.js"></script>
<script src="/js/jquery.ajaxfileupload.js"></script>
<script type="text/javascript" src="/js/bioadanyanz.js"></script>
<script type="text/javascript" src="/js/height.js"></script>
<script type="text/javascript" src="/js/topage.js"></script>
<script type="text/javascript" src="/js/cutImage.js"></script>
<script src="./assets/global/plugins/jquery.blockui.min.js"></script>
<script src="/js/loading.js"></script>
<script>

    // 表单验证
    biaoDanYanZ('#myForm',"/addUser",function () {
        $('#myForm').resetForm()
    },function () {
        $('#myForm').resetForm()
    });
    // 获取下拉用户ID
    getUserID()
</script>
</body>
</html>
