<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="./metronic/assets/global/plugins/font-awesome/css/font-awesome.css" rel="stylesheet"/>
    <link href="./metronic/assets/global/plugins/bootstrap/css/bootstrap.css" rel="stylesheet"/>
    <link href="./metronic/assets/global/css/components.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/jquery.Jcrop.css" type="text/css"/>
    <style>
        .errorMessage {
            color: #FF0000;
        }

        .deleteAll {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(211, 211, 211, 0.42);
            display: none;
        }

        .delete {
            width: 200px;
            height: 150px;
            position: relative;
            left: 50%;
            top: 13%;
            margin-left: -100px;
            background: white;
            padding-top: 20px;
            border: 1px solid #1cf0e8;
            border-radius: 5px;
            z-index: 1000;
        }

        .delete h3 {
            font-size: 15px;
            line-height: 30px;
            text-align: center;
        }

        .isNo {
            width: 100%;
        }

        .isNo a {
            width: 40%;
            float: left;
            margin: 0 5%;
        }

        li span {
            cursor: pointer;
        }

        .cut {
            margin-top: 10px;
        }

        .cut .cutImage {
            width: 300px;
            height: 300px;
            border: 1px solid red;
            float: left

        }

        #preview-pane {
            display: block;
            float: left;
            margin-left: 50px;
            border: 1px solid red;
            background-color: white;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            border-radius: 6px;
            -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
        }

        #preview-pane .preview-container {
            width: 120px;
            height: 120px;
            overflow: hidden;
        }

        .cut .btn {
            margin-left: 50px;
            margin-top: 20px;
            background: #217ebd;
            color: #FFFFFF

        }

        .upfile {

            float: left;
            margin-left: 50px;
            margin-top: 20px;
        }

        .upfile input {
            display: block;
            max-width: 180px
        }
    </style>
</head>
<body>
<div class="page-content" style="min-height:900px">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-search"></i>查询条件
                    </div>
                    <div class="tools">
                        <a class="collapse" href="javascript:;" data-original-title="" title=""> </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <td width="10%" align="right">用户类型</td>
                                <td width="23%">
                                    <select class="form-control yhlxid"></select>
                                </td>
                                <td width="10%" align="right">用户名</td>
                                <td width="23%">
                                    <input type="text" class="form-control yhm">
                                </td>
                                <td width="10%" align="right">姓名</td>
                                <td width="23%">
                                    <input name="zjjs" type="text" class="form-control xm">
                                </td>
                            </tr>
                            <tr>
                                <td colspan="6" align="center">
                                    <input type="submit" value="查询" id="chaBtn" class="btn blue">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div id="searchList" class="portlet box blue display-hide">

                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list-alt"></i>查询结果
                    </div>
                    <div class="tools">
                        <a class="collapse" href="javascript:;" data-original-title="" title=""></a>
                    </div>
                </div>

                <div class="portlet-body">
                    <div class="JiLuShu" style="margin-bottom: 8px">
                    </div>
                    <div class="table-scrollable">
                        <table class="table table-striped table-bordered table-advance table-hover">
                            <thead>
                            <tr>
                                <th width="5%"><input type="checkbox" id="checkAll" name="checkAll"/></th>
                                <th width="7%">用户ID</th>
                                <th width="10%">用户类型</th>
                                <th width="10%">用户名</th>
                                <th width="10%">姓名</th>
                                <th width="20%">用户头像Url</th>
                                <th width="25%">最后登陆时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody id="tBody">
                            </tbody>
                            <tr>
                                <td colspan="9" align="center">
                                    <div class="dropdown center">
                                        <button class="btn btn-danger" type="button" id="btnDelete">
                                            批量删除
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="9" align="center" class="text-align:center">
                                    <ul id="pagination" class="pagination center" style="">
                                    </ul>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div id="modifyBox" class="modal fade in " style="display: none; padding-right: 17px;">
                <div class="modal-dialog" style="width: 800px;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close modifyClose"></button>
                            <h4 class="modal-title">修改用户信息</h4>
                        </div>
                        <div class="modal-body">
                            <div class="page-content" style="min-height:711px">
                                <div class="row">
                                    <div class="col-md-12">
                                        <form class="form-horizontal" id="myForm" method="" action="">
                                            <div class="portlet box blue">
                                                <div class="portlet-title">
                                                    <div class="caption">
                                                        <i class="fa fa-pencil-square-o"></i>修改用户信息
                                                    </div>
                                                    <div class="tools">
                                                        <a class="collapse" href="javascript:;" data-original-title=""
                                                           title=""> </a>
                                                    </div>
                                                </div>
                                                <div class="portlet-body" style="display: block;">
                                                    <div class="form-body">

                                                        <!--用户名-->
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-2">用户名</label>
                                                            <div class="col-sm-8">
                                                                <div class="input-icon right">
                                                                    <i class="fa"></i>
                                                                    <input name="yhm" id="yhm" type="text"
                                                                           maxlength="50" class="form-control">
                                                                </div>
                                                            </div>
                                                            <span class="errorMessage"></span>
                                                        </div>
                                                        <!--用户类型-->
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-2">用户类型</label>
                                                            <div class="col-sm-8">
                                                                <div class="input-icon right">
                                                                    <i class="fa"></i>
                                                                    <select class="form-control yhlxid" name="yhlxid">
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <span class="errorMessage"></span>
                                                        </div>
                                                        <!--姓名-->
                                                        <div class="form-group">
                                                            <span id="ctl00_MainContent_labName"
                                                                  class="control-label col-sm-2">姓名</span>
                                                            <div class="col-sm-8">
                                                                <div class="input-icon right">
                                                                    <i class="fa"></i>
                                                                    <input name="xm" id="xm" type="text" maxlength="50"
                                                                           class="form-control">
                                                                </div>
                                                            </div>
                                                            <span class="errorMessage"></span>
                                                        </div>
                                                        <!--密码-->
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-2">
                                                                密码
                                                            </label>
                                                            <div class="col-sm-8">
                                                                <div class="input-icon right">
                                                                    <i class="fa"></i>
                                                                    <input id="password" name="xgmm" maxlength="50"
                                                                           class="form-control" type="password">
                                                                </div>
                                                            </div>
                                                            <span class="errorMessage"></span>
                                                        </div>
                                                        <!--确认密码-->
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-2">
                                                                确认密码
                                                            </label>
                                                            <div class="col-sm-8">
                                                                <div class="input-icon right">
                                                                    <i class="fa"></i>
                                                                    <input type="password" name="xgqrmm" maxlength="50"
                                                                           class="form-control">
                                                                </div>
                                                            </div>
                                                            <span class="errorMessage"></span>
                                                        </div>
                                                        <!--提示-->
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-2">
                                                            </label>
                                                            <div class="col-sm-8" style="color: #FF0000">
                                                                密码为空，则表示不修改密码
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="control-label col-sm-2">
                                                                点击头像修改
                                                            </label>
                                                            <div class="col-sm-8">
                                                                <i class="fa"></i>
                                                                <div class="phtotBox"
                                                                     style="width: 120px;height:120px;overflow: hidden;">
                                                                    <img id="tx" src="" alt="">
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <input type="hidden" name="path" id="path">
                                                        <input type="hidden" name="is" id="is">
                                                        <input type="hidden" name="x" id="x">
                                                        <input type="hidden" name="y" id="y">
                                                        <input type="hidden" name="w" id="w">
                                                        <input type="hidden" name="h" id="h">
                                                    </div>
                                                    <div class="form-actions">
                                                        <div class="row">
                                                            <div class="col-sm-offset-2 col-sm-9">
                                                                <input type="submit" value="提交" class="btn blue">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="ImageCut" class="modal fade in " style="display: none; padding-right: 17px;">
                <div class="modal-dialog" style="width: 600px;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="imageClose close"></button>
                            <h4 class="modal-title">头像裁剪</h4>
                        </div>
                        <div class="modal-body">
                            <div class="page-content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="cut  col-md-12">
                                            <div class="cutImage">
                                                <img id="cutImage" alt="" src="" style="width: 300px;height: 300px">
                                            </div>
                                            <div id="preview-pane">
                                                <div class="preview-container">
                                                    <img src="" id="pImage" class="jcrop-preview " alt="Preview"/>
                                                </div>
                                            </div>
                                            <div class="upfile">
                                                <form id='cutImageForm'>
                                                    <input type="file" name="myPhoto" id='myPhoto'>
                                                </form>
                                            </div>
                                            <div class="col-md-2 btn blue" id="CJ">
                                                裁剪
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="deleteAll">
    <div class="delete" id="tanchu">
        <h3>确定删除吗？</h3>
        <div class="isNo">
            <a class="btn btn-sm btn-success" isNo="Yes">
                <i class="glyphicon glyphicon-ok"></i> Yes</a>
            <a class="btn btn-sm btn-danger" isNo="No">
                <i class="glyphicon glyphicon-remove"></i> No</a>
        </div>
    </div>
</div>
<!--[if lt IE 9]>
<script src="/js/es5-shim.js"></script>
<script src="/js/es5-sham.js"></script>
<script src="/metronic/assets/global/plugins/respond.js"></script>
<script src="/metronic/assets/global/plugins/excanvas.js"></script>
<![endif]-->
<script src="./metronic/assets/global/plugins/jquery.js"></script>
<script src="./metronic/assets/global/plugins/bootstrap/js/bootstrap.js"></script>
<script src="./metronic/assets/global/scripts/app.js"></script>
<script src="/js/jquery.validate.js"></script>
<script src="./js/jquery.form.js"></script>
<script src="./js/bioadanyanz.js"></script>
<script src="./js/height.js"></script>
<script src="./js/topage.js"></script>
<script src="/js/jquery.ajaxfileupload.js"></script>
<script type="text/javascript" src="/js/jquery.Jcrop.js"></script>
<script type="text/javascript" src="/js/cutImage.js"></script>
<script src="./assets/global/plugins/jquery.blockui.min.js"></script>
<script src="/js/loading.js"></script>
<script>
    var searchData = {yhlxid: null, yhm: null, xm: null, dqym: null, myts: 10},
        JiLuShu = null,
        yeMeiShu = null,
        flag = true,
        deleteAry = [],
        id = null,
        yhm = null;
    //生成用户类型下拉选项
    getUserID();

    //查询
    $('#chaBtn').bind('click', function () {
        searchData = {
            yhlxid: $('.yhlxid').val(),
            yhm: $('.yhm').val(),
            xm: $('.xm').val(),
            dqym: 1,
            myts: 10
        };
        toAJax();
        return false
    });

    //          删除用户
     deleteData();
    $('#btnDelete').bind('click', function (e) {
        e = e || window.event;
        $('#tBody tr').find('input').each(function (index, item) {
            if ($(item).prop('checked')) {
                deleteAry.push($(item).attr('yhid'))
            }
        });
        if (deleteAry.length <= 0) {
            alert('没有删除项');
            return
        }
        $('.deleteAll').show();
        $('.delete').css('top', e.clientY - 200 + 'px')
    });

    function deleteData() {
        $('#tanchu').bind('click', function (e) {
            var e = e || window.event;
            target = e.target || e.srcElement;
            if ($(target).attr('isNo') == 'Yes' || $(target).hasClass('glyphicon-ok')) {
                $.ajax({
                    url: '/deleteUser',
                    type: 'get',
                    data: {yhid: deleteAry.join(',')},
                    success: function (data) {
                        deleteAry = [];
                        $('.deleteAll').hide();
                        responseState(data, function () {
                            alert(data.ZhiXingJieGuo);
                            toAJax()
                        })
                    }
                })

            }

            if ($(target).attr('isNo') == 'No' || $(target).hasClass('glyphicon-remove')) {
                deleteAry = [];
                $('.deleteAll').hide();
                $('#tBody tr').find('input').each(function (index, item) {
                    $(item).prop('checked', false)
                });
                $('#checkAll').prop('checked', false)
            }

            return false
        })
    }

    //          修改用户
     modifyDelete();
    function modifyDelete() {
        $('#tBody').bind('click', function (e) {
            var e = e || window.event;
            var target = e.target || e.srcElement;
//            修改
            if ($(target).attr('id') == 'modify' || $(target).hasClass('fa-edit')) {
                id = $(target).attr('yhid');
                $('#modifyBox').show();
                getUserID(id, function () {
                    $.ajax({
                        url: "/oneUser",
                        type: 'get',
                        data: {yhid: id},
                        success: function (data) {
                            responseState(data, tianChong);
                            // 修改后表单提交验证
                            biaoDanYanZ('#myForm', '/updateUser?yhid=' + id)
                        }
                    })
                });

            }
            return false
        });
    }

    //          模板拼接
    function searchStr(data) {
        var str1 = '',
            str2 = '',
            str3 = '',
            str4 = '';

        $(data.ShuJu).each(function (index, item) {
            str1 += '<tr>'
                + '<td><input type="checkbox" name="checkItem" yhid="' + parseInt(item.YongHuID) + '"/></td>'
                + '<td>' + parseInt(item.YongHuID) + '</td>'
                + '<td>' + item.YongHuLeiXing + '</td>'
                + '<td>' + item.YongHuMing + '</td>'
                + '<td>' + item.XingMing + '</td>'
                + '<td>' + item.YongHuTouXiang + '</td>'
                + '<td>' + (item.ZuiHouDengLuShiJian ? item.ZuiHouDengLuShiJian : '') + '</td>'
                + '<td>'
                + '<a href="#" title="修改课件" class="btn btn-outline btn-sm blue" id="modify" yhid="' + parseInt(item.YongHuID) + '">'
                + '<i class="fa fa-edit" yhid="' + parseInt(item.YongHuID) + '"></i>修改 </a>'
                + '</td>'
                + '</tr>';
        });

        $('#tBody').html(str1);

        str2 += '<div>共条' + JiLuShu + '记录</div>';

        $('.JiLuShu').html(str2);

        if (yeMeiShu <= 7) {
            for (var i = 1; i <= yeMeiShu; i++) {
                str3 += '<li><span>' + i + '</span></li>'
            }
        } else {
            if (searchData.dqym <= 3) {
                for (var i = 1; i <= 6; i++) {
                    str3 += '<li><span>' + i + '</span></li>'
                }
                str3 += '<li class="disabled"><span>...</span></li>'
            }
            if (searchData.dqym > 3 && searchData.dqym < yeMeiShu - 2) {
                str3 += '<li class="disabled"><span>...</span></li>';
                for (var i = searchData.dqym - 2; i <= searchData.dqym + 2; i++) {
                    str3 += '<li><span>' + i + '</span></li>'
                }
                str3 += '<li class="disabled"><span>...</span></li>'
            }
            if (searchData.dqym > 3 && searchData.dqym >= yeMeiShu - 2) {
                str3 += '<li class="disabled"><span>...</span></li>';
                for (var i = yeMeiShu - 6; i <= yeMeiShu; i++) {
                    str3 += '<li><span>' + i + '</span></li>'
                }
            }
        }

        str4 = ' <li id="first"><a>&lt;&lt;</a></li><li id="pre"><a >&lt;</a></li>'
            + str3
            + '<li id="next"><a>&gt;</a></li> <li id="last"><a>&gt;&gt;</a></li>';

        $('#pagination').html(str4);

        flag ? toHeight() : flag = false;

        str1 = str2 = str3 = str4 = null;
    }

    //          页面调转ajax
    function toAJax() {
        $.ajax({
            url: '/searchUser',
            type: 'post',
            dataType: "json",
            data: searchData,
            success: function (data) {
                responseState(data, function () {
                    JiLuShu = parseInt(data.JiLuShu);
                    yeMeiShu = Math.ceil(JiLuShu / searchData.myts);
                    $('#searchList').show();
                    searchStr(data);
                    initPage();
                    checkAll();
                })
            }
        })
    }

    //          修改表单填充
    function tianChong(data) {
        $('#yhm').val(data.ShuJu[0].YongHuMing);
        yhm = data.ShuJu[0].YongHuMing;
        $('.yhlxid').find('option').each(function (index, item) {
            $(item).html() == data.ShuJu[0].YongHuLeiXingID ? $(item).prop('selected', true) : $(item).prop('selected', false);
        });
        $('#xm').val(data.ShuJu[0].XingMing);
        $('#tx').attr('src', data.ShuJu[0].YongHuTouXiang);
    }


</script>
</body>
</html>
